<div *ngIf="product" class="product-details">
  <div class="product-details-img">
    <img src="{{ product.url }}" alt="{{ product.name }}-image">
  </div>
  <div class="product-details-actions">
    <h2>{{ product.name }}</h2>
    <h3>{{ product.description }}</h3>
    <p>$ {{ product.price }}</p>
    <mat-form-field appearance="fill">
      <select [(ngModel)]="quantity" matNativeControl>
        <option *ngFor="let opt of quantityOptions" [ngValue]="opt.value">
          {{ opt.label }}
        </option>
      </select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addToCart(product)">Add to cart</button>
    <a routerLink="/">
      <mat-icon>keyboard_backspace</mat-icon>
      <span>Back to product list</span>
    </a>
  </div>
</div>
<div *ngIf="!product">
  <p>Product not found!</p>
</div>
