.cart {
  display: flex;
  flex-direction: row;
}

.cart-section-title {
  font-size: 20px;
}

.cart-products>p {
  font-size: 24px;
}

.cart-form-container {
  margin-left: 64px;
  min-width: 300px;
}

@media only screen and (max-width: 600px) {
  .cart {
    flex-direction: column;
  }
  .cart-form-container {
    margin-top: 32px;
    margin-left: 0;
  }
}
