<div class="product-card">
  <a routerLink="/product/{{product.id}}">
    <div class="product-card-img">
      <img src="{{ product.url }}" alt="{{ product.name }}-image">
    </div>
  </a>
  <h2>{{ product.name }}</h2>
  <h3>$ {{ product.price }}</h3>
  <div class="product-card-actions">
    <mat-form-field appearance="fill">
      <select [(ngModel)]="quantity" matNativeControl>
        <option *ngFor="let opt of quantityOptions" [ngValue]="opt.value">
          {{ opt.label }}
        </option>
      </select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addToCart()">Add to cart</button>
  </div>
</div>
